.video-carousel {
    width: 80%;
    margin: 1rem auto;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }
  
  
  .slick-prev,
  .slick-next {
    display: none !important;  /* Ensure arrows are hidden */
  }

  