@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Inter', sans-serif;
    border-top: solid 2px #555;
}
.footer-logo-container{
  width: 150px;
  height:60px;
  text-align: center;
}
.footer-logo{
    width: 100px;
    height:60px;
    text-align: center;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Lemon;
   
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column a {
    color: #ccc;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #fff;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 20px;

}

.footer-social a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #1DA1F2; 
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #777;
}

@media(max-width:650px){
  .footer-container{
    flex-wrap: wrap;
    gap: rem;
  }
  .footer-logo-container{
    margin-bottom: 8rem;
  }
  .footer-links{
    flex-wrap: wrap;
  }
}

